.about {
    background-color: #1E1823;
    padding: 0 10px;

    &_container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        justify-content: space-between;

        &_card {
            width: 100%;
            max-width: 326px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 18px;

            &--box {
                width: 100%;
                max-width: 308px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &--title {
                    font-family: Montserrat;
                    font-weight: 600;
                    font-style: SemiBold;
                    font-size: 18px;
                    line-height: 100%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                    padding-top: 22px;
                    padding-bottom: 18px;
                }

                &--text {
                    font-family: Montserrat;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: -2%;
                    color: #FFFFFFB2;
                }
            }
        }
    }
}



$orange: #FD9222;

.chocolate-card {
    max-width: 270px;
    height: 270px;
    position: relative;
    border-radius: 25px;
    overflow: hidden; // Важно: обрезает всё, что выходит за границы
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    .card-front {
        width: 100%;
        height: 100%;
        background-color: $orange;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 28px;
        box-sizing: border-box;

        .chocolate-img {
            margin-bottom: 36px;
        }

        .title {
            font-family: Montserrat;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -2%;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }

    .card-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 28px;
        box-sizing: border-box;

        // Начальное положение: полностью внизу за пределами видимости
        transform: translateY(100%);
        transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);

        display: flex;
        flex-direction: column;

        .back-title {
            font-family: Montserrat;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: -3%;
            text-transform: uppercase;
            color: #111111;
            padding-bottom: 8px;
        }

        .tags {
            width: 100%;
            max-width: 190px;
            display: flex;
            gap: 6px;
            margin-bottom: 15px;

            .tag {
                font-family: Montserrat;
                font-weight: 400;
                font-style: Regular;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0%;
                vertical-align: middle;
                padding: 6px 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 35px;

                &-filled {
                    background: $orange;
                    color: #FFFFFF;
                    width: 100%;
                    max-width: 81px;
                }

                &-outline {
                    border: 1px solid $orange;
                    color: #111111;
                    width: 100%;
                    max-width: 95px;
                }
            }
        }

        .description {
            font-family: Montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -2%;
            color: #111111;
        }
    }

    // Эффект при наведении
    &:hover .card-back {
        transform: translateY(0); // Возвращаем в исходную позицию
    }
}