@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 24px 10px 72px 10px;
}
.header_top {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  align-items: center;
}
.header_top--burger {
  display: none;
  background-color: transparent;
  border: none;
}
.header_top_info {
  width: 100%;
  max-width: 532px;
  display: flex;
  justify-content: space-between;
}
.header_top_info--link {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -2%;
  vertical-align: middle;
  color: #111111;
  text-decoration: none;
  padding: 4px 0;
}
.header_top_info--link:hover {
  color: #FD9222;
  transition: 0.3s ease;
}
.header_top--social {
  width: 100%;
  max-width: 66px;
  display: flex;
  justify-content: space-between;
}
.header_top--social--svg {
  cursor: pointer;
}
.header_top--social--svg:hover path {
  stroke: #FD9222;
  transition: 0.3s ease;
}
.header_home {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  background-image: url("./img/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding-top: 208px;
  position: relative;
}
.header_home--line {
  width: 100%;
  height: 119px;
  background-color: #D9D9D9;
}
.header_home_container {
  width: 100%;
  max-width: 510px;
  padding-top: 54px;
  padding-bottom: 40px;
  padding-left: 40px;
}
.header_home_container--title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -3%;
  color: #FFFFFF;
}
.header_home_container--box {
  width: 100%;
  max-width: 341px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}
.header_home_container--box--but1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
}
.header_home_container--box--but2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  padding: 14px 40px;
}
.header_home_absolute {
  width: 100%;
  max-width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.header_home_absolute--text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -3%;
  color: #FFFFFF;
}
.header_home_absolute--button {
  background: transparent;
  border: none;
}

.about {
  background-color: #1E1823;
  padding: 0 10px;
}
.about_container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
.about_container_card {
  width: 100%;
  max-width: 326px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}
.about_container_card--box {
  width: 100%;
  max-width: 308px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about_container_card--box--title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  padding-top: 22px;
  padding-bottom: 18px;
}
.about_container_card--box--text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -2%;
  color: rgba(255, 255, 255, 0.6980392157);
}

.chocolate-card {
  max-width: 270px;
  height: 270px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.chocolate-card .card-front {
  width: 100%;
  height: 100%;
  background-color: #FD9222;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
  box-sizing: border-box;
}
.chocolate-card .card-front .chocolate-img {
  margin-bottom: 36px;
}
.chocolate-card .card-front .title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.chocolate-card .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 28px;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  display: flex;
  flex-direction: column;
}
.chocolate-card .card-back .back-title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -3%;
  text-transform: uppercase;
  color: #111111;
  padding-bottom: 8px;
}
.chocolate-card .card-back .tags {
  width: 100%;
  max-width: 190px;
  display: flex;
  gap: 6px;
  margin-bottom: 15px;
}
.chocolate-card .card-back .tags .tag {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 6px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}
.chocolate-card .card-back .tags .tag-filled {
  background: #FD9222;
  color: #FFFFFF;
  width: 100%;
  max-width: 81px;
}
.chocolate-card .card-back .tags .tag-outline {
  border: 1px solid #FD9222;
  color: #111111;
  width: 100%;
  max-width: 95px;
}
.chocolate-card .card-back .description {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #111111;
}
.chocolate-card:hover .card-back {
  transform: translateY(0);
}

@media (max-width: 1050px) {
  main .about_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 704px;
    gap: 32px;
  }
  main .about_container_card--line {
    display: none;
  }
}
@media (max-width: 900px) {
  body .header_top_info {
    display: none;
  }
  body .header_top--social {
    display: none;
  }
  body .header_top--burger {
    display: block;
  }
}
@media (max-width: 768px) {
  body .header_home {
    padding-top: 715px;
    background-image: url("./img/bg-home-tablet.png");
  }
  body .header_home--line {
    display: none;
  }
  main .about_container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 335px;
  }
}
@media (max-width: 650px) {
  body .header_home {
    padding-top: 395px;
  }
  body .header_home_container {
    padding: 0 20px 80px 20px;
  }
  body .header_home_absolute {
    left: 20px;
    bottom: 20px;
  }
}
@media (max-width: 375px) {
  body .header_home {
    padding-top: 715px;
    background-image: url("./img/bg-home-tablet.png");
  }
  body .header_home--line {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */